.wrapper {
    position: relative;
}

.bg-image {
    position:absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url('../../../../image/background.jpg');
    background-size: cover;
    filter: blur(8px);
}

.content {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 0 20rem;
}

.text {
    line-height: 3rem;
    margin-top: 4rem;
}

.button-wrapper {
    display: flex;
    align-content: space-around;
}

.card-image{
    border-radius: 1rem 1rem 0 0;
}

.card-text {
    padding: 1rem;
}