.wrapper {
  flex: 0 0 25rem;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}

.image {
  height: 12rem;
  border-bottom: 1px solid black;
  margin-bottom: -2rem;
  overflow: hidden;
}

.content {
  height: 8rem;
}

.profile-image{
  display: inline-block;
  border-radius: 50%;
}