.wrapper {
  flex: 0 0 25rem;
  border: 1px solid black;
}

.image {
  line-height: 10rem;
  border-bottom: 1px solid black;
  margin-bottom: -2rem;
}

.content {
  line-height: 8rem;
}

.profile {
  z-index: 999;
  text-align: center;
  margin: auto;
  line-height: 4rem;
  width: 4rem;
  border: 1px solid black;
  background-color: green;
  border-radius: 50%;
}
