.wrapper {
  position: relative;
  width: 15rem;
  border: 1px solid black;
}

.image {
  line-height: 6rem;
}

.content {
  line-height: 6rem;
  border-top: 1px solid black;
}

.profile {
  position: absolute;
  background-color: green;
  z-index: 999;
  top: 4.5rem;
  left: 6rem;
  border: 1px solid black;
  line-height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
